.copyright {
	background: $primary-color;
	color: #FFF;
	padding: 20px 0;
	.copyright-notice {
		color: #886677;
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .8em;
	}
}