body {
	font-family: 'Playfair Display', serif;
  font-size: 1.9em;
}

section {
  padding: 20px inherit;
}

.container {
  h1 {
    font-style: italic;
  }
  h1,h2,h3,h4,h5,h6 {
    color: $primary-color;
    text-align: center;
  }
}

img {
  max-width: 100%;
}