body {
	background: $primary-color;
  font-family: 'Playfair Display', serif;
  font-size: 1.7em;
  text-align: center;
}

section {
  padding: 20px inherit;
}

.container {
  h1 {
    font-style: italic;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #883377;
  }
}

img {
  max-width: 100%;
}