section.registry {
	background: #F0EDE5;
	a {
		height: 150px;
		text-align: center;
		filter: grayscale(100%) opacity(.4);
    position: relative;
    transition: all .25s ease;
		&:hover {
			background: #f9f9f9; /* Old Browsers */
			background: linear-gradient(to bottom,#f6f6f6 0%,#f6f6f6 50%,#e8e8e0 100%); /* W3C */
			border-radius: 4px;
			box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 3px 12px 3px rgba(0,0,0,.1);
			filter: grayscale(0%) opacity(1);
		} 
	}
	.registry-logo {
		padding: 20px;
    position: absolute;
			top: 0;
      right: 0;
			bottom: 0;
      left: 0;
    margin: auto;
		width: 300px;
	}
}