section.rsvp {
  background: #FFF;
	input[type="submit"] {
    width: 100%;
  }
  .label-caption {
    color: #999;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 300;
  }
}